<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGGING</title>
</head>
<body>
    
    {% for post in posts %}
        <h1>{{ post.Title}}</h1>
        <p> By  {{ post.Author}} on {{  post.Date_posted}}</p>
        <p>{{ post.content}}</p>

    {% endfor %}
</body>
</html> -->

{% extends "base.html"%}
{% block Title% }
Home 
{% endblock Title%}

{% block content%}
{% for post in posts %}
<h1>{{ post.Title}}</h1>
<p> By  {{ post.Author}} on {{  post.Date_posted}}</p>
<p>{{ post.content}}</p>

{% endfor %}

{% endblock content%}